.button {
    background-color: #eb7652;
    border-radius: 50px;
    width: 50px;
    height: 20px;
    position: absolute;
    font-family: myFont;
}

body {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: myFont;
    background-color: #94af9a;
}   

.heading {
    display: none;
    height: 100px;
    text-align: center;
}

.instructions {
    display: block;
    font-size: medium;
    font-family: 'Cousine', monospace;
}
.startBtn {
    position: absolute;
    left: calc(50% - 25px);
    top: 50px
}

h2 {
    display: none;
    z-index: 2;
    position: relative;
    align-items: center;
    font-family: 'VT323', monospace;
    background-color: #d6cfd6;
    height: 200px;
    width: 300px;
    margin: 0 auto;
    font-size: x-large;
    border-radius: 20px;
    border: 3px solid #2b2c28;
}

h2 > p {
    margin: 0 auto;
}

.number {
    font-family: 'Orbitron', sans-serif;
}

.shade {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
}

@font-face {
    font-family: myFont;
    src: url(../../assets/myFont.ttf);
}
